numpy==1.26.4
fasttext-wheel==0.9.2
requests==2.32.3
uvicorn==0.34.0
fastapi==0.115.11
torch==2.5.1
scikit-learn==1.6.0
bert-score==0.3.13
rank-bm25==0.2.2
transformers==4.50.0
langchain==0.3.23
langchain-community==0.3.21
langchain-core==0.3.54
langchain-huggingface==0.1.2
faiss-cpu==1.10.0
ollama==0.4.8
rouge-score==0.1.2
sentence-transformers==2.2.2
